<style>
    body * {
        font-size: 12px;
    }
    
    .full-width { width: 100%;}
    .text-left { text-align: left; }
    .text-center { text-align: center; }
    .text-right { text-align: right; }
    
    h1 {
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        text-decoration: underline;
        text-transform: uppercase;
    }
    
    .info {
        border-spacing: 12px;
    }
    
    .jours-container {
        display: inline-block;
        width: 70px;
        border: 1px solid black;
        padding: 2px;
    }
    
    .table {
        font-size: 12px;
        width: 100%;
        border-collapse: collapse; 
    }
    
    .table th,
    .table td {
        border: 1px solid black;
        padding: 2px;
    }
    
    .table th {
        font-size: 14px;
    }
    
    .signature {
        height: 150px;
        width: auto;
    }
    
    .write {
        color: #191970;
    }
    
</style>
<table class="full-width">
    <tr>
        <td class="text-left">Délégation sociale</td>
        <td class="text-right">Madame <span class="write"><%= data.nom %></span></td>
    </tr>
    <tr>
        <td>Direction enfance-famille</td>
        <td></td>
    </tr>
</table>
<br/>
<table>
    <tr>
        <td class="text-left">N/Ref</td>
        <td class="text-left">: GAM</td>
    </tr>
    <tr>
        <td class="text-left">Poste</td>
        <td class="text-left">: 02 32 31 50 71</td>
    </tr>
</table>
<h1>Fiche de présence</h1>

<table class="info">
    <tr>
        <td class="text-left">Nom et prénom de l'enfant (obligatoire)</td>
        <td class="text-left">: <span class="write"><%= data.enfant %></span></td>
    </tr>
    <tr>
        <td class="text-left">Mois concerné</td>
        <td class="text-left">: <span class="write"><%= data.mois %></span></td>
    </tr>
    <tr>
        <td class="text-left">Nombre de jours réels de présence dans le mois</td>
        <td class="text-left">: 
            <div class="jours-container">
                <span class="write"><%= data.jours %></span>
            </div>
        </td>
    </tr>
</table>
<br/>
<table class="table">
    <thead>
        <tr>
            <th class="text-center">Période à modifier</th>
            <th class="text-center">Motif de présence ou d'absence</th>
        </tr>
    </thead>
    <tbody>
        <% data.periodes.forEach(function(row) { %>
        <tr>
            <td class="write">
                <% if (row.periode.start && row.periode.end) { %>
                    Du <%= row.periode.start %> au <%= row.periode.end %>
                <% } else if (row.periode.start) { %>
                    <%= row.periode.start %>
                <% } else if (row.periode.end) { %>
                    <%= row.periode.end %>
                <% } %>
            </td>
            <td class="write">
                <%= row.motif %>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>

<p class="text-right">
    <span class="write"><%= data.lieu %></span>, Le <span class="write"><%= data.date %></span>
</p>

<div class="text-right">
    <img class="signature" src="<%= data.signature %>" />
</div>

<table>
    <tr>
        <td style="width: 100px; vertical-align: top;">NB :</td>
        <td>
            Ce récapitulatif est à envoyer à terme échu et avant le 9 du mois suivant.<br/>
            Envoyer un récapitulatif (par enfant) uniquement si le nombre de jours payé sur votre
            bulletin de salaire est erroné.<br/>
            toutes les modifications doivent être motivées.
        </td>
    </tr>
</table>
